<div class="page-body">
<div class="container">
    <br>
    <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle btn-step1"></button>
                    <li></li>
                    <p>GADGET</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle btn-step2"></button>
                    <li></li>
                    <p>YOU</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle btn-step3"></button>
                    <li></li>
                    <p>PURCHASE</p>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col col-sm-6">
                <h2>Choose The Best Cover For You</h2>
            </div>
        </div>
<div class="row">
    <div class="col-lg-5">
        <table>
            <tr>
                <td>
                    <div class="item item-price-1">
                            <strong>£99.99</strong>
                            <br> or <br>
                            <strong>£9.99</strong> <br>
                            monthly
                    </div>
                </td>
                <td>
                    <div class="item item-price-2">
                            <strong>£99.99</strong>
                            <br>  or <br>
                            <strong>£9.99</strong> <br>
                            monthly
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
<div class="price-calculation">
<div class="row">
              <div class="col col-lg-3">
                Excess
              </div>
              <div class="col col-lg-3 text-center">
                <span> £75 </span>
              </div>
              <div class="col col-lg-3 text-right">
                    <span> £75 </span>
              </div>
    </div>
          <div class="row">
               <div class="col col-lg-3">
                    Accidental Damage
              </div>
              <div class="col col-lg-3 text-center">
                <span> <i class="fa fa-check"></i> </span>
              </div>
              <div class="col col-lg-3 text-right">
                    <span> <i class="fa fa-check"></i> </span>
              </div>
          </div>
          <div class="row">
                <div class="col col-lg-3">
                 Theft
               </div>
               <div class="col col-lg-3 text-center">
                 <span> <i class="fa fa-check"></i> </span>
               </div>
               <div class="col col-lg-3 text-right">
                     <span> 
                            <i class="fa fa-check"></i>
                    </span>
               </div>
           </div>
           <div class="row">
                <div class="col col-lg-3">
                 Loss
               </div>
               <div class="col col-lg-3 text-center">
                 <span> <i class="fa fa-times"></i> </span>
               </div>
               <div class="col col-lg-3 text-right">
                     <span> <i class="fa fa-check"></i> </span>
               </div>
           </div>
           <div class="row">
                <div class="col col-lg-3">
                    Mechanical Breakdown
               </div>
               <div class="col col-lg-3 text-center">
                 <span> <i class="fa fa-times"></i> </span>
               </div>
               <div class="col col-lg-3 text-right">
                     <span> <i class="fa fa-check"></i> </span>
               </div>
           </div>
           <div class="row">
                <div class="col col-lg-3">
                    Unauthorised Use
               </div>
               <div class="col col-lg-3 text-center">
                 <span> <i class="fa fa-check"></i> </span>
               </div>
               <div class="col col-lg-3 text-right">
                     <span> <i class="fa fa-check"></i> </span>
               </div>
           </div>
           <div class="row">
                <div class="col col-lg-3">
                    Worldwide Cover
               </div>
               <div class="col col-lg-3 text-center">
                 <span> $75 </span>
               </div>
               <div class="col col-lg-3 text-right">
                     <span> $75 </span>
               </div>
           </div>
    </div>
    <br>
        <div class="row">
            <div class="col-lg-3"> 
                  <button class="btn tiger-btn-next btn-silver" (click)= "BuyOption({shipType:'gold'})">
                      Buy Silver
                  </button>
            </div> <br>
            <div class="col-lg-3"> 
                    <button class="btn tiger-btn-next btn-gold" (click)= "BuyOption({shipType:'silver'})">
                         Buy Gold
                    </button>
              </div>
          </div>
        <br><br>
    </div>
</div>