<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <img class="header-image" src="../../assets/photos/header-pic.png" alt="">
  <div class="navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item" [hidden]="!showSelected">
          <div class="circle">
            <div class="circle-content">
                <span>£9.99</span>
                Monthly 
            </div>
          </div>
          <div class="circle">
              <div class="circle-content">
                  <span>£12</span><br>
                  Yearly
              </div>
          </div>
      </li>
    </ul>
  </div>
</nav>