<div class="page-body">
<div class="container">

    <br>
    <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle btn-step1"></button>
                    <li></li>
                    <p>GADGET</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle btn-step2"></button>
                    <li></li>
                    <p>YOU</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-circle btn-step3"></button>
                    <li></li>
                    <p>PURCHASE</p>
                </div>
            </div>
        </div>
    <br>
          <div class="row">
                <div class="col-lg-12">
                        <h3>Congratulations! <br> Your Gadgets Are Now Protected</h3>
                </div>
            </div>
          <br>

          <div class="price-calculation col-lg-5">
                <table>
                    <tr>
                        <td>
                                <div class="row">
                                        <div class="col-lg-3"> 
                                            <div class="sm-circle">
                                                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                </div>
                        </td>
                        <td class="sm-circle-details">
                            Apple iPhone 8 Plus 64GB
                        </td>
                    </tr>
                            <tr>
                        <td>
                                <div class="row">
                                        <div class="col-lg-3"> 
                                            <div class="sm-circle">
                                                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                </div>
                        </td>
                        <td class="sm-circle-details">
                            Apple iPhone 8 64GB
                        </td>
                    </tr>
                </table>
                        <br>
                <div class="row">
                        <div class="col-lg-5 item-detail">
                            Jon Smith <br>
                            1-3 Bury Street, <br> Guildford,<br>
                            Surrey GU2 4AW <br> Tel: 01483 347333 <br>
                            </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4"> 
                            <button class="btn btn-Quote" (click) = "NextPage()"> 
                                    View Your Documents
                            </button>
                    </div>
                </div>
            </div>

        </div>
        <br>
</div>