.fullPage{
    /* background-image:url('../assets/photos/header-pic.png'); */
    background-image:url('../assets/photos/GadgetBackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}