/* You can add global styles to this file, and also import other style files */
.tiger-btn-next{
    width: 155px;
    color: white;
    background-color:#FE7C18;
    padding: 10px;
    border-radius: 35px;
}
.tiger-btn-next-home{
    font-size: 23px;
    width: 250px;
    background-color: #E97C12;
    padding: 7%;
    border-radius: 35px;
}
.tiger-btn-add{
    color: #2A4EA0;
    background-color: white;
    width: 50px;
    padding: 10px;
    border-radius: 12px;
}

.circle{
    color: white;
    margin-left: 20px;
    text-align: center;
    background:#2A4EA0;
    border-radius: 200px;
    display: inline-block;
    height: 100px;
    padding: 30px 25px;
    vertical-align: middle;
    width: 100px;
    font-size: 12px;
}
.circle span{
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 991px) {
    .tiger-btn-next{
        width: 100%;
        margin-top: 10px;
    }
    .nav-item{
        margin-top: -90px;
        padding-right: 10px;
    }
    .circle{
        border-radius: 100px;
        color:white;
        font-size: 10px;
        height: 70px;
        padding: 20px 15px;
        vertical-align: middle;
        width: 70px;
        margin-left: 5px;
        margin-top: 15px;
    }
    .circle span{
        font-size: 14px;
        font-weight: bold;
    }
}
.page-body{
    padding: 0px;
    margin: 0px;
    background-color: rgba(252, 252, 252, 0.534);
}

/* ********Stages***** */

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}
.stepwizard{
    display: table;     
    width: 50%;
    position: relative;
}
.stepwizard-row:before {
    margin-left: 5%;
    top: 15px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 75%;
    height: 2px;
    background-color: rgba(60, 104, 197, 0.685);
    /* z-order: 0; */
}
.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 991px) {
.stepwizard-row:before {
    margin-left: 6%;
}
.form-control{
    text-align: center;
}
.stepwizard{
    width: 95%;
}
.stepwizard p{
    font-size: 12px;
    }
h2{
    margin-top: -10px;
    font-size: 23px;
}
h3{
    margin-top: -10px;
    font-size: 23px;
}
}
@media screen and (max-width: 767px) {
    .stepwizard-row:before {
        margin-left: 7%;
    }
}

@media screen and (max-width: 500px) {
    .stepwizard-row:before {
        margin-left: 8%;
    }
}

.btn-circle {
  background-color: rgba(255, 255, 255, 0);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  /* font-size: 40px; */
  /* line-height: 1.428571429; */
  border-radius: 15px;
}
.btn-step1{
    background-color: rgba(60, 104, 197, 0.685);
}
.stepwizard-step li{
    margin-top: -27px;
    margin-right: -17px;
    color: rgba(240, 72, 72, 0.76);
}
.stepwizard-step P{
    color: rgba(60, 104, 197, 0.685);
}
.btn-li-2{
    margin-right: 20px;
    width: 59%;
}
.btn-li-3{
    width: 42%;
}
.form-control{
    border: 1px solid rgb(124, 124, 124);
    margin-top: 10px;
}

/* Radio button */
.rdo-btn{
    padding: 0xp;
}
.lb{
    text-align: center;
    width: 48%;
}
.lb-1{
    float: left;
}
.lb-2{
    float: right;
}
.lb-1 input[type = 'radio']{
    visibility: hidden;
}
.lb-2 input[type = 'radio']{
    visibility: hidden;
}