<div class="page-body">
 <div class="container">
    <h1>Gadget insurance </h1>

    <div class="row">
        <div class="col-lg-12">
                <div class="container center-block">

                        <ol class="wizard-progress wizard-5-steps clearfix center-block">
                            <li class="step-done">
                                <span class="step-num">
                                    <span class="step-num-cell"></span>
                                </span>
                                <span class="step-name">program</span>
                            </li>
                            <li class="step-done">
                                <span class="step-num">
                                        <span class="step-num-cell"></span>
                                </span>
                                <span class="step-name">appointment</span>
                            </li>
                            <li class="step-active">
                                <span class="step-num">
                                        <span class="step-num-cell"></span>
                                </span>
                                <span class="step-name">time</span>
                            </li>
                            
                        </ol>
                    
                          
                        </div>
        </div>
    </div>
    <div class="row">
      <div class="col col-sm-6">
         <h4> Everure gadget insurance offers great value policies, 
          and all allows you to customise your cover 
          with a selection of additional policy options.</h4>
          <br><br>
          <button class="btn tiger-btn-next-home" (click)= "CheckPrice()">
              Check Our Prices
          </button>
      </div>
    </div>
</div>
</div>